__pycache__
Applications/EvoChecker-master/.settings
venv/

# PARLEY / Slurm output
PARLEY-2.0/parleyPE_*.out
PARLEY-2.0/parleyPE_*.err

# EvoChecker runtime output
Applications/EvoChecker-master/out*.txt
Applications/EvoChecker-master/ServerOutput*.txt
Applications/EvoChecker-master/ServerError*.txt

# Property files
Applications/EvoChecker-master/*.properties

# NFS temporary files
**/.nfs*