__pycache__
Applications/EvoChecker-master/.settings
venv/
Applications/EvoChecker-master/ServerError*.txt
Applications/EvoChecker-master/ServerOutput*.txt
Applications/EvoChecker-master/out*.txt
parley_RQ1_*.err
parley_RQ1_*.out
evaluate_interval_widths_first_passage.py
evaluate_interval_widths.py
interval_calibration_*/
times_symmetric_interval.txt